{% extends '_base.twig' %}
{% block headerLinks %}
<a href="/tags" class="homepage-link">tags</a>&nbsp;/&nbsp;<a href="/people" class="homepage-link">people</a>&nbsp;/&nbsp;<a href="/places" class="homepage-link">places</a>{#&nbsp;/&nbsp;<a target="_blank" href="/rss" class="homepage-link">rss</a>#}
{% endblock %}
{% block posts %}
  <h3>404!</h3>
  <p>This page cannot be found...</p>
  <p>Head <a href="/">back to the homepage</a>.</p>
{% endblock %}